form {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
}

input[type="text"] {
  flex: 75%;
  margin-bottom: 0;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

input:focus {
  outline: none;
}

button {
  flex: 25%;
  background: rgb(82, 82, 186);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

button:hover {
  background: rgb(113, 113, 180);
}

input,
button {
  padding: 8px;
  font-size: 18px;
  border: none;
}
